---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Agosto 2024 - Actualidad",
    title: "Desarrollador Jr",
    company: "AdmynCo",
    description: 
      "Atendiendo requerimientos No-Criticos junto a un equipo de trabajo, documentando los cambios en modulos y archivos realizados para una control mas granular, con Lenguaje de Desarrollo principal Coldfusion.",
  },
  {
    date: "Septiembre 2023 - Febrero 2024",
    title: "Servicio al Cliente Semi-Billingue",
    company: "Teleperformance",
    description:
      "Realice Soporte tecnico a Usuarios de una Compañia de Internet",
  },
  {
    date: "Septiembre 2022 - Diciembre 2022",
    title: "Recopilador de Datos en empresa de Software",
    company: "BSD Enterprise",
    description:
      "Acudi a distintas plantas de aceros (Ternium) a realizar el seguimiento y toma de datos de tiempos a lo largo de un proceso de mantenimiento, esto con el fin de hacer reportes respecto al tiempo que se pierde y como se podria disminuir el mismo",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
